*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h3::before {
     content: 'STAY ';
     color: rgb(175, 52, 52);
     font-size: 22px;
    font-style: oblique;
    font-weight: bolder;
}
h3::after {
    content: ' mZee';
    color: rgb(40, 40, 230);
    font-size: 22px;
    font-style: oblique;
    font-weight: bolder;
}